nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px rgb(0, 0, 0);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.507);
  background-color: rgb(53, 53, 53);
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  /* border: solid 1px #aaa; */
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: rgb(255, 255, 255);
  background-color: #2fa56a;
}
* {
  font-family: 'Bitter', serif;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  padding-left: 0;
  height: -content;
  background-color: rgb(27, 34, 98);
  color: white;
}
header h5 {
  text-align: center;
  font-size: small !important;
  padding: 5px;
}
.dropdown {
  height: min-content;
}
.dropdown .dropdown-toggle {
  border-radius: 0px 0px 0px 1rem;
}
.input-section {
  background-color: rgb(105, 138, 136);
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input-section input {
  font-weight: 700;
  max-width: 7rem;
}
.operator-sign {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translate(-5px, -50%);
  color: white;
  font-weight: 700;
  /* right: calc(100% + 5px); */
}
.input-section button {
  box-shadow: inset -1px -2px 2px 0px rgba(255, 255, 255, 0.2),
    0px 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 0px 2px 2px rgba(91, 91, 91, 0.2);
}
.main-title {
  text-align: center;
}
.input-group--signed {
  position: relative;
}
.transition {
  opacity: 0;
  transform: scale(0.95);
  transition: all ease 1s;
}
.buttons-section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.error {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  /* opacity: 0;
    transform: scale(0.95);
    transition: all cubic-bezier(1, 0, 0, 1) 0.5s; */
  border-radius: 10px;
  /* height: 0rem; */
  height: 2rem;
  border: 2px solid red;
  color: red;
  font-weight: 700;
  background-color: rgb(255, 230, 230);
}
.error-display {
  height: 2rem;
  opacity: 1;
  transform: scale(1);
}
.displayed {
  opacity: 1;
  transform: scale(1);
}
.error-icon {
  height: 2rem;
  width: 2rem;
}

.results {
  position: relative;
  padding: 1rem;
  max-width: 100%;
  overflow: auto;
}
.table {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 2px #c7c7c7;
  /* width: fit-content !important ; */
  margin: auto;
}
.table td {
  padding: 0.5rem 1rem !important;
  font-weight: 700;
}
.table-header {
  font-size: large;
  text-align: center;
  background: aliceblue !important;
}
td {
  line-height: 2rem !important;
}
h1 {
  color: white;
  padding: 0px 1rem;
  box-shadow: 0px 0px 10px -2px rgb(255, 255, 255);
}

.roots-results {
  text-align: end;
  font-size: large;
  color: rgb(0, 0, 0) !important;
  background-color: rgb(231, 216, 248) !important;
}
